body {
  background-color: bisque;
}

#contenedor {
  position:relative;
  height:281px;
  width:450px;
  margin:20px auto;
  
}
#contenedor img {
  position:absolute;
  left:0;
  transition: all 2s ease-in-out;
}

#contenedor img.top {
  transform:scale(1,0);
  filter: alpha(opacity=0);
  opacity:0;

}

#contenedor:hover img.top{
  opacity:1;
  transform:scale(1,1);
}

#contenedor:hover img.bottom{
  filter: alpha(opacity=0);
  transform:rotate(360deg) scale(1,0);
}

div img{
  height: 100%;
  width: 100%;
}

